body {
    padding: 0 2rem;
}

main {
    background-color: var(--c-bg);
    max-width: var(--max-w-sm);
    border-radius: 0.75rem;
    padding: 2rem;
    margin: 3rem auto;
    boxShadow: 0 0.25rem 0.5rem var(--c-shadow);
}

main img {
    max-width: 100%;
    border-radius: 0.75rem;
    border: 1px solid var(--c-secondary-bg);
}

footer {
    text-align: center;
    width: 100%;
    padding: 2rem 0;
}

fieldset {
    border: 1px solid #eee;
    border-radius: 0.75rem;
    margin-top: 1rem;
    padding: 1rem;
    padding-bottom: 0;
    width: fit-content;
}

button {
    margin-top: 1rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    background-color: var(--c-primary);
    padding: 0.75rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--c-primary-hover);
}

label {
    color: gray;
    font-size: 0.9rem;
}

input {
    display: block;
    margin-top: 0.25rem;
    padding: 0.75rem 1rem;
    border: 1px solid #eee;
    border-radius: 0.5rem;
    font-size: 1rem;
    outline: none;
    width: 20rem;
    max-width: 100%;
}

input:focus {
    border-color: var(--c-primary);
}